@import "bootstrap.less";

html, body {
	height: 100%;
	font-family: "Lato";
}

#top {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	padding-top: @padding-large-vertical;
	padding-bottom: @padding-large-vertical;
	background: @body-bg;
	z-index: @zindex-navbar;
	height: 101px;
	overflow: hidden;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-transition: height 333ms linear;
	-moz-transition: height 333ms linear;
	-ms-transition: height 333ms linear;
	-o-transition: height 333ms linear;
	transition: height 333ms linear;
	&.open {
		height: 181px;
	}
	@media (min-width: @screen-sm) {
		height: auto;
		overflow: visible;
		box-shadow: none;
	}
	nav {
		padding-top: 29px;
		@media (min-width: @screen-sm) {
			text-align: right;
		}
		ul {
			padding-left: 0;
			list-style: none;
			li {
				display: block;
				text-align: center;
				@media (min-width: @screen-sm) {
					text-align: right;
					display: inline-block;
				}
				text-transform: uppercase;
				a {
					color: inherit;
				}
			}
		}
		#hamburger {
			button {
				margin-top: -7px;
			}
		}
	}
}

.slogan {
	background: @gray-light url(img/1.jpg) no-repeat center top;
	background-size: cover;
	margin-top: 81px+@padding-large-vertical*2;
	margin-bottom: @padding-large-vertical*2;
	padding-top: 180px;
	padding-bottom: 60px;
	font-size: @font-size-h1;
	text-transform: uppercase;
	color: @body-bg;
	ul {
		margin-top: @padding-base-vertical*5;
		list-style: none;
		padding: 0;
		li {
			padding: 0;
			clear: both;
		}
		font-weight: bold;
	}
	span {
		background: black;
		display: inline-block;
		margin-bottom: @padding-base-vertical;
		padding-left: @padding-base-horizontal/2;
		padding-right: @padding-base-horizontal/2;
	}
	.margin-fix {
		margin-left: -@padding-base-horizontal/2;
	}
}

#what {
	.col-md-12 {
		padding-bottom: @padding-large-vertical*2;
	}
	h3 {
		font-size: @font-size-large;
	}
}

.img-block {
	&.img1 {background-image: url(img/1.jpg);}
	&.img2 {background-image: url(img/2.jpg);}
	&.img3 {background-image: url(img/3.jpg);}
	&.img4 {background-image: url(img/4.jpg);}
	&.img5 {background-image: url(img/5.jpg);}

	&.separator {
		margin-top: @grid-gutter-width*2;
		margin-bottom: @grid-gutter-width;
	}

	min-height: 50%;
}

#portfolio {
	.item {
		position: relative;
		margin-top: @grid-gutter-width;
		.link {
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;
			width: 100%;
			color: #ffffff;
			background-color: rgba(0, 0, 0, 0.66);
			padding: @padding-large-vertical @grid-gutter-width;
			transition: opacity 500ms ease;
			text-decoration: none;
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
			span {
				display: block;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
		&:hover .link {
			opacity: 1;
			transition: opacity 166ms ease;
		}
	}
}

#recommendations {
	padding-bottom: @grid-gutter-width;
	.row {
		margin-top: @grid-gutter-width*4;
		margin-bottom: -@grid-gutter-width*2;
		@media (min-width: @screen-md-min) {
			margin-top: @grid-gutter-width*2;
			margin-bottom: 0;
		}
		&> div {
			@media (min-width: @screen-md-min) {
				height: 107.5px;
			}
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
			opacity: 0.33;
			transition: opacity 1s ease;
			&:hover {
				opacity: 1;
				transition: opacity 333ms ease;
			}
		}
		.item {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			
		}
	}
}

#contact {
	h2 {
		padding-bottom: @grid-gutter-width;
	}
	input, textarea {
		.box-shadow(0px 1px 2px 0px rgba(0, 0, 0, 0.07));
	}
	textarea {
		min-height: 76px;
	}
	#map {
		min-height: 271px;
	}
}

#footer {
	padding: @grid-gutter-width 0;
	margin-top: @grid-gutter-width*2;
	color: #ffffff;
	background-color: #000000;
}

.modal-dialog {
	max-width: 100%;
}
